$font-family-sans-serif: Haxrcorp, Verdana, sans-serif;
$font-size-base: 2rem;
$line-height-base: 0.9;
$body-bg-dark: #000;
$secondary: #fe8a2c;
$gradient: linear-gradient(180deg, rgba(101, 55, 18, 1) 0%, rgba(64, 35, 11, 1) 100%);

$input-border-width: 2px;
$input-border-color: $secondary;
$component-active-bg: $secondary;
